{{define "nav"}}
<nav>
  <ul>
    <li><strong>amics</strong></li>
  </ul>
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
</nav>
{{end}}

{{ define "logoutScript" }}
<script>
  document.getElementById('logout-button').addEventListener('click', async () => {
    const response = await fetch('/logout', {
      method: 'POST',
      credentials: 'include'
    });
    if (response.ok) {
      window.location.href = '/';
    } else {
      console.log("Hmm... Couldn't log out? Weird.")
    }
  });
</script>
{{ end }}