{{ define "register_form_errors" }}
  {{ if .Body.StudentNumber }}
    {{ if .Problems.student_number }}
      <small
        hx-swap-oob="true"
        id="student-number-constraints"
        _="on load set @aria-invalid of previous <input/> to true"
      >
        {{ .Problems.student_number }}
      </small>
    {{ else }}
      <small
        hx-swap-oob="true"
        id="student-number-constraints"
        _="on load set @aria-invalid of previous <input/> to false"
      >
        Student number must be 5-7 numbers
      </small>
    {{ end }}
  {{ end }}

  {{ if .Body.FirstName }}
    {{ if .Problems.first_name }}
      <small hx-swap-oob="true" id="first-name-constraints" _="on load set @aria-invalid of previous <input/> to true">
        {{ .Problems.first_name }}
      </small>
    {{ else }}
      <small hx-swap-oob="true" id="first-name-constraints" _="on load set @aria-invalid of previous <input/> to false">
        First name required
      </small>
    {{ end }}
  {{ end }}

  {{ if .Body.Username }}
    {{ if .Problems.username }}
      <small hx-swap-oob="true" id="username-constraints" _="on load set @aria-invalid of previous <input/> to true">
        {{ .Problems.username }}
      </small>
    {{ else }}
      <small hx-swap-oob="true" id="username-constraints" _="on load set @aria-invalid of previous <input/> to false">
        Username must be at least 4 characters
      </small>
    {{ end }}
  {{ end }}

  {{ if .Body.Password }}
    {{ if .Problems.password }}
      <small hx-swap-oob="true" id="password-constraints" _="on load set @aria-invalid of previous <input/> to true">
        {{ .Problems.password }}
      </small>
    {{ else }}
      <small hx-swap-oob="true" id="password-constraints" _="on load set @aria-invalid of previous <input/> to false">
        Password must be at least 10 characters
      </small>
    {{ end }}
  {{ end }}

  {{ if .Body.JoinCode }}
    {{ if .Problems.join_code }}
      <small hx-swap-oob="true" id="join-code-constraints" _="on load set @aria-invalid of previous <input/> to true">
        {{ .Problems.join_code }}
      </small>
    {{ else }}
      <small hx-swap-oob="true" id="join-code-constraints" _="on load set @aria-invalid of previous <input/> to false">
        Ask your teacher for the join code
      </small>
    {{ end }}
  {{ end }}

{{ end }}
