{{define "student_dashboard"}}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>amics/app</title>
  <link rel="stylesheet" href="/static/css/pico.purple.min.css" />
</head>

<body>
  <header style="box-shadow: var(--pico-box-shadow)">
    <div class="container">
      <nav aria-label="breadcrumb" style="justify-content: space-between">
        <ul>
          <li>Dashboard</li>
        </ul>
        <ul>
          <li>
            <button id="logout-button" class="secondary">Logout</button>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container">
    {{ if .Assignments }}
    <div class="grid">
      <h2>Assignments</h2>
      <h3 style="justify-self: flex-end">{{.StudentAverage}}%</h3>
    </div>
    {{ range $unit, $ass := .Assignments}}
    <h3>{{$unit}}</h3>
    <article>
      <table class="striped">
        <tbody>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Due</th>
              <th scope="col">Score</th>
            </tr>
          </thead>
          {{ range $ass }}
          <tr>
            <th scope="row">
              <a href="/app/assignments/{{.Id}}"
                style="{{if .Grade.Valid}}color: gray{{else}}color: var(--pico-primary){{end}}">{{.Name}}</a>
            </th>
            <td style="{{if .Grade.Valid}}color: gray{{else}}color: var(--pico-primary){{end}}">
              {{ unixToDate .DueDate}}
            </td>
            <td style="{{if .Grade.Valid}}color: gray{{else}}color: var(--pico-primary){{end}}">
              {{ if .Grade.Valid}}
                {{ .Grade.Value}}/{{.Points}}
              {{else}}
                -/{{.Points}}
              {{ end }}
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </article>
    {{end}} {{ else }}
    <p>You have no assignments yet.</p>
    {{ end }}
  </main>
  {{template "logoutScript" .}}
</body>

</html>
{{end}}
