{{define "home"}}
<!doctype html>
<html lang='en'>

<head>
  <meta charset='utf-8'>
  <title>amics/</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.purple.min.css">
  <link rel='stylesheet' href='/static/css/style.css'>
</head>

<body>
  <main class="container">
    {{ template "nav" . }}
    <h1>Welcome to AMICS</h1>
    <p>This is the home page for the AMICS application.</p>
  </main>
</body>

</html>
{{end}}
