{{ define "title" }}amics/login{{ end }}
{{ define "content" }}
  <main class="container">
    <article>
      <h1>Login to amics</h1>
      <form hx-post="/login" hx-push-url="true" hx-disabled-elt="button" hx-target="body">
        {{ if and .Errors .Errors.server }}<p style="color: var(--pico-del-color)">{{ .Errors.server }}</p>{{ end }}
        {{ if .Errors }}
          <div hx-post="/login/validate" hx-swap="none" hx-trigger="load" hx-push-url="false">
            {{ template "login_form_errors" . }}
          </div>
        {{ end }}
        <fieldset>
          <label for="username">Enter your username</label>
          <input
            type="text"
            id="username"
            name="username"
            autocomplete="username"
            required
            aria-describedby="username-constraints"
            value="{{ .Body.Username }}"
            hx-post="/login/validate"
            hx-trigger="change, keyup delay:200ms changed"
            hx-push-url="false"
            hx-swap="none"
          />
          <small id="username-constraints">Username must be at least 4 characters</small>
        </fieldset>
        <fieldset>
          <label for="password">Enter your password</label>
          <input
            type="password"
            id="password"
            name="password"
            autocomplete="current-password"
            required
            aria-describedby="password-constraints"
            value="{{ .Body.Password }}"
            hx-post="/login/validate"
            hx-trigger="change, keyup delay:200ms changed"
            hx-push-url="false"
            hx-swap="none"
          />
          <small id="password-constraints">Password must be at least 10 characters</small>
          <div
            aria-role="button"
            id="toggle-password"
            class="field-button"
            aria-label="Show password as plain text. Warning: this will display your password on the screen"
            _="on click get the previous <input/> then 
          if it's @type is 'password' 
            set it's @type to 'text'
            set my innerText to 'Hide Password'
            set my @aria-label to 'Hide password'
          else 
            set it's @type to 'password'
            set my innerText to 'Show Password'
            set my @aria-label to 'Show password as plain text. Warning: this will display your password on the screen'
          end "
          >
            Show password
          </div>
        </fieldset>
        <button type="submit" hx-push-url="true">Login</button>

        <p>
          New to amics?
          <a href="/register">Create an account</a>
        </p>
      </form>
    </article>
  </main>
{{ end }}
