{{ define "title" }}amics/teacher/students{{ end }}
{{ define "content" }}
  <header style="box-shadow: var(--pico-box-shadow)">
    <div class="container">
      {{ template "nav" . }}
    </div>
  </header>
  <main class="container">
    {{ if .Students }}
      <h2>Managing Students</h2>
      <article>
        <table>
          <thead>
            <tr>
              <th scope="col">Student Number</th>
              <th scope="col">Username</th>
              <th scope="col">New Password</th>
            </tr>
          </thead>
          <tbody>
            {{ range .Students }}

              <tr>
                <th scope="row">{{ .Id }}</th>
                <td><a href="/teacher/courses/{{ $.CourseId }}/students/{{ .Id }}">{{ .FirstName }}</a></td>
                <td>
                  <fieldset role="group">
                    <input type="text" name="password" autocomplete="off" />
                    <button
                      id="password-reset"
                      hx-post="/teacher/courses/{{ $.CourseId }}/students/{{ .Id }}/passwordreset"
                      hx-push-url="true"
                      hx-target="body"
                      hx-include="previous <input/>"
                      hx-vals='{"student-id": {{ .Id }}}'
                    >
                      Reset
                    </button>
                  </fieldset>
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </article>
    {{ else }}
      <section>
        <p>This course has no students. Ask them to register!</p>
      </section>
    {{ end }}
  </main>
{{ end }}
