{{ define "title" }}amics/teacher/assignments{{ end }}
{{ define "content" }}
  <header style="box-shadow: var(--pico-box-shadow)">
    <div class="container">
      {{ template "nav" . }}
    </div>
  </header>
  <main class="container">
    {{ if .Assignments }}
      <h2>Managing Assignments</h2>
      <section style="display: flex; justify-content: flex-end">
        <a role="button" href="/teacher/courses/{{ .CourseId }}/assignments/new">Create New Assignment</a>
      </section>
      <article>
        <table class="striped">
          <tbody>
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Due</th>
              </tr>
            </thead>
            {{ range .Assignments }}
              <tr>
                <th scope="row">
                  <a href="/teacher/courses/{{ .CourseId }}/assignments/{{ .Id }}">
                    {{ .Name }}
                  </a>
                </th>
                <td>{{ .DueDate | unixToDate }}</td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </article>
    {{ else }}
      <section style="display: flex; justify-content: flex-end">
        <a role="button" href="/teacher/courses/{{ .CourseId }}/assignments/new">Create New Assignment</a>
      </section>
      <p>You have no assignments yet.</p>
    {{ end }}
  </main>
{{ end }}
