{{ define "title" }}amics/teacher/assignment{{ end }}
{{ define "content" }}
  <header style="box-shadow: var(--pico-box-shadow)">
    <div class="container">
      {{ template "nav" . }}
    </div>
  </header>
  <main class="container">
    <h2>{{ if .Assignment }}Edit Assignment{{ else }}New Assignment{{ end }}</h2>
    <article>
      <form
        {{ if .Assignment }}
          hx-put="/teacher/courses/{{ .CourseId }}/assignments/{{ .Assignment.Id }}"
        {{ else }}
          hx-post="/teacher/courses/{{ .CourseId }}/assignments"
        {{ end }}
        hx-target="body"
      >
        {{ if .Problems }}
        <ul>
          {{ range $_, $msg := .Problems }}
            <lip style="color: var(--pico-del-color)">{{ $msg }}</li>
          {{ end }}
        </ul>
        {{ end }}
        <div class="grid">
          <fieldset>
            <label for="id">Id</label>
            <input 
            type="number" 
            id="id" 
            name="id" 
            {{ $value := "" }}
            {{ if .Assignment }}
              {{ $value = .Assignment.Id }}
            {{ end }}
            value="{{ $value }}"
            readonly 
            />
          </fieldset>
          <fieldset>
            <label for="unit-name">Unit Name</label>
            <input
              type="text"
              id="unit-name"
              name="unit-name"
              {{ $value := "" }}
              {{ if .Assignment }}
                {{ $value = .Assignment.UnitName }}
              {{ else if .Body.UnitName }}
                {{ $value = .Body.UnitName }}
              {{ end }}
              value="{{ $value }}"
              required
              autofocus
            />
          </fieldset>
          <fieldset>
            <label for="visible">Visible</label>
            <input
              type="checkbox"
              id="visible"
              name="visible"
              {{ $value := "" }}
              {{ if .Assignment }}
                {{ if .Assignment.Visible }}
                  checked
                {{ end }}
              {{ else if .Body.Visible }}
                checked
              {{ else }}
                checked
              {{ end }}
            />
          </fieldset>
        </div>
        <fieldset>
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            {{ $value := "" }}
            {{ if .Assignment }}
              {{ $value = .Assignment.Name }}
            {{ else if .Body.Name }}
              {{ $value = .Body.Name }}
            {{ end }}
            value="{{ $value }}"
            required
          />
        </fieldset>
        <fieldset>
          <label for="description">Description</label>
          <textarea id="description" name="description" rows="15" required>
{{ if .Assignment }}{{ .Assignment.Description }}{{ else if .Body }}{{ .Body.Description }}{{ end }}</textarea>
        </fieldset>

        <fieldset>
          <label for="required-filename">Required Filename</label>
          <input
            type="text"
            id="required-filename"
            name="required-filename"
            {{ $value := "" }}
            {{ if .Assignment }}
              {{ $value = .Assignment.RequiredFilename }}
            {{ else if .Body.RequiredFilename }}
              {{ $value = .Body.RequiredFilename }}
            {{ end }}
            value="{{ $value }}"
            required
          />
        </fieldset>
        <fieldset>
          <label for="points">Points</label>
          <input
            type="number"
            id="points"
            name="points"
            {{ $value := "" }}
            {{ if .Assignment }}
              {{ $value = .Assignment.Points }}
            {{ else if .Body.Points }}
              {{ $value = .Body.Points }}
            {{ else }}
              {{ $value = "4" }}
            {{ end }}
            value="{{ $value }}"
            required
          />
        </fieldset>
        <fieldset>
          <label for="due-date">Due Date</label>
          <input
            type="datetime-local"
            id="due-date"
            name="due-date"
            {{ if .Assignment }}
              value="{{ .Assignment.DueDate.Format `2006-01-02T15:04` }}"
            {{ end }}
            {{ $value := "" }}
            {{ if .Assignment }}
              {{ $value = .Assignment.DueDate.Format "2006-01-02T15:04" }}
            {{ else if .Body.DueDate }}
              {{ $value = .Body.DueDate }}
            {{ end }}
            value="{{ $value }}"
          />
        </fieldset>
        <fieldset>
          <label for="pyfile-content">Pytest Content</label>
          <textarea rows="15" name="pyfile-content" id="pyfile-content">
{{ if .Assignment }}{{ .Assignment.PytestCode }}{{ else if .Body.PytestCode}}{{ .Body.PytestCode }}{{ end }}</textarea>
          <label for="pyfile-file">Pytest File</label>
          <input
            type="file"
            id="pyfile-file"
            accept=".py"
            _="on change
            set dest to previous <textarea/>
            js (me, dest)
                const reader = new FileReader();
                reader.onloadend = function (event) {
                  dest.value = reader.result;
                };
                reader.readAsText(me.files[0]);
            end
            set my.value to ''
            "
          />
        </fieldset>
        <button type="submit">
          {{ if .Assignment }}
            Confirm Edits
          {{ else }}
            Create New Assignment
          {{ end }}
        </button>
      </form>
    </article>
  </main>
{{ end }}
