package layout

templ Base(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<meta
				name="htmx-config"
				content='{
            "responseHandling":[
                {"code":"204", "swap": false},
                {"code":"[23]..", "swap": true},
                {"code":"422", "swap": true},
                {"code":"[45]..", "swap": false, "error":true},
                {"code":"...", "swap": true}
            ]
        }'
			/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/css/github.min.css" media="(prefers-color-scheme: light)"/>
			<link rel="stylesheet" href="/static/css/github-dark.min.css" media="(prefers-color-scheme: dark)"/>
			<link rel="stylesheet" href="/static/css/styles.css"/>
			<script defer src="/static/js/_hyperscript.min.js"></script>
			<script defer src="/static/js/highlight.min.js"></script>
			<script defer src="/static/js/python.min.js"></script>
			<script defer src="/static/js/htmx.min.js"></script>
		</head>
		<body
			hx-boost="true"
			_="on htmx:responseError
    set txt to event.detail.xhr.responseText then 
    get #toast
    set it's innerText to txt
    show it
    wait 5s
    hide it
    "
			class="bg-stone-100 text-stone-900 antialiased"
		>
			<div id="toast" class="px-4 py-2 bg-red-300 rounded-md text-white w-max absolute top-16 right-16" style="display: none"></div>
			{ children... }
		</body>
	</html>
}
